<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP / SIGN IN</title>
    <link rel="stylesheet" href="/uploads/style.css">
    <script src="https://kit.fontawesome.com/0c670f2ad8.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">SIGN IN</h1>
            <form id="signinForm" method="post" action="/login"> <!-- Set the action to /login -->
                <div class="input-group">
                    <div class="input-field" id="signinNameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="userName" placeholder="USERNAME">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" placeholder="PASSWORD">
                    </div>

                    <p class="remember-me">
                        <input type="checkbox" id="rememberMe">
                        <label for="rememberMe">Remember Me</label>
                    </p>
                </div>
                <div class="btn-filed">
                    <button type="submit">SIGN IN</button>
                </div>
            </form>
            
            <p>If you are a new user, <a href="#" id="signupLink">click here</a> to sign up.</p>
        </div>

        <div class="form-box" style="display: none;" id="signupFormBox">
            <h1 id="signupTitle">SIGN UP</h1>
            <form id="signupForm" method="post" action="/signup"> <!-- Set the action to /signup -->
                <div class="input-group1">
                    <div class="input-field" id="signupNameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="userName" placeholder="USERNAME">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" name="email" placeholder="E-MAIL">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" placeholder="PASSWORD">
                    </div>
                </div>
                <div class="btn-filed">
                    <button type="submit">SIGN UP</button>
                </div>
            </form>
            <p>If you are already registered, <a href="#" id="signinLink">click here</a> to sign in.</p>
        </div>
    </div>

    <div id="messageContainer" style="display: none;">
        <% if (message) { %>
            <script>alert("<%= message %>");</script>
        <% } %>
    </div> <!-- Container for displaying messages -->

    <script>
        let signupLink = document.getElementById("signupLink");
        let signinLink = document.getElementById("signinLink");
        let forgotPasswordLink = document.getElementById("forgotPasswordLink");

        signupLink.onclick = function() {
            document.getElementById("title").innerText = "SIGN UP";
            document.getElementById("signinForm").style.display = "none";
            document.getElementById("signupFormBox").style.display = "block";
            return false;
        };

        signinLink.onclick = function() {
            document.getElementById("title").innerText = "SIGN IN";
            document.getElementById("signinForm").style.display = "block";
            document.getElementById("signupFormBox").style.display = "none";
            return false;
        };

        forgotPasswordLink.onclick = function() {
            // Add your forgot password logic here
            alert("Forgot password link clicked!");
            return false;
        };
    </script>
</body>
</html>
