<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP / SIGN IN</title>
    <link rel="stylesheet" href="/uploads/style.css">
    <script src="https://kit.fontawesome.com/0c670f2ad8.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">SIGN UP</h1>
            <form id="authForm" method="post" action="/signup"> <!-- Set the action to /signup -->
                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="userName" placeholder="NAME">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" name="email" placeholder="E-MAIL">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" placeholder="PASSWORD">
                    </div>

                    <p class="remember-me">
                        <input type="checkbox" id="rememberMe">
                        <label for="rememberMe">Remember Me</label>
                    </p>
                    
                    <p> Forgot password? <a href="#">Click here</a></p>
                </div>
                <div class="btn-filed">
                    <button type="button" id="SIGNUPBtn">SIGN UP</button>
                    <button type="button" id="SIGNINBtn">SIGN IN</button>
                </div>
                <button type="submit" id="submitButton" style="display: none;">SUBMIT</button> <!-- Submit button -->
            </form>
        </div>
    </div>

    <div id="messageContainer" style="display: none;"></div> <!-- Container for displaying messages -->

    <script>
        let SIGNUPBtn = document.getElementById("SIGNUPBtn");
        let SIGNINBtn = document.getElementById("SIGNINBtn");
        let nameField = document.getElementById("nameField");
        let title = document.getElementById("title");
        let authForm = document.getElementById("authForm");
        let submitButton = document.getElementById("submitButton");

        SIGNUPBtn.onclick = function() {
            nameField.style.maxHeight = "60px";
            title.innerHTML = "SIGN UP";
            authForm.setAttribute("action", "/signup");
            submitButton.style.display = "block"; // Show submit button
        };

        SIGNINBtn.onclick = function() {
            nameField.style.maxHeight = "0";
            title.innerHTML = "SIGN IN";
            authForm.setAttribute("action", "/login");
            submitButton.style.display = "block"; // Show submit button
        };

        submitButton.onclick = function() {
            authForm.submit(); // Submit the form
        };
    </script>
</body>
</html>
